# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Vector DB / model cache (will apply once you reach Lab 2-3)
chroma_db/
*.sqlite3
.cache/

# Environment variables / secrets
.env

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# compiled files
repomix-output.xml

# generated logs
query_monitor_log.json