# Lab 1 - keyword search
scikit-learn
rank_bm25

# Lab 2 - semantic search
sentence-transformers
openai

# Lab 3 - chunking + vector DB
chromadb

# Lab 4 - Caching + re-ranking
redis
json
hashlib

google-genai

jsonrpcclient
jsonrpcserver

numpy
pandas
python-dotenv